<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftBlueBD.Properties.Settings.ElementyElektroniczneConnectionString"
            connectionString="Data Source=ZLOTY\SQLEXPRESS;Initial Catalog=ElementyElektroniczne;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>